@namespace AntDesignPro
@page "/"

<div class="alain-default__content-title">
  <h1>
    Dashboard
    <small>Welcome !</small>
  </h1>
</div>

<Row Gutter="16">
    <Col Span="6" class="mb-md">
        <Row Type="flex" Align="middle" class="bg-primary rounded-md">
            <Col Span="12" class="p-md text-white">
                <div class="h2 mt0">123,456</div>
                <p class="text-nowrap mb0">Website Traffics</p>
            </Col>
            <Col Span="12">
                <div id="container1"></div>
            </Col>
        </Row>
    </Col>
    <Col Span="6" class="mb-md">
        <Row Type="flex" Align="middle" class="bg-success rounded-md">
            <Col Span="12" class="p-md text-white">
                <div class="h2 mt0">234,567K</div>
                <p class="text-nowrap mb0">Website Impressions</p>
            </Col>
            <Col Span="12">
                <div id="container2"></div>
            </Col>
        </Row>
    </Col>
    <Col Span="6" class="mb-md">
        <Row Type="flex" Align="middle" class="bg-orange rounded-md">
            <Col Span="12" class="p-md text-white">
                <div class="h2 mt0">$458,778</div>
                <p class="text-nowrap mb0">Total Sales</p>
            </Col>
            <Col Span="12">
                <div id="container3"></div>
            </Col>
        </Row>
    </Col>
    <Col Span="6" class="mb-md">
        <Row Type="flex" Align="middle" class="bg-magenta rounded-md">
            <Col Span="12" class="p-md text-white">
                <div class="h2 mt0">456</div>
                <p class="text-nowrap mb0">Support Tickets</p>
            </Col>
            <Col Span="12">
                <div id="container4"></div>
            </Col>
        </Row>
    </Col>
</Row>

<Row Gutter="16">
    <Col Span="12">
        <Card Title="@("Card title")">
            <Body>
                <div id="container5"></div>
            </Body>
        </Card>
    </Col>
    <Col Span="12">
        <Card Title="@("Card title")">
            <Body>
                <div id="container6"></div>
            </Body>
        </Card>
    </Col>
</Row>

@inject IJSRuntime jsRuntime
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("loadScript", "js/chart-demo.js");
    }
}