@namespace AntDesign.Pro.Pages.Monitor.Components
@inherits AntDomComponentBase

<div class="activeChart">
    <Statistic Title="@("Target")" Value="@("Testing value")" />
    <div style="margin-top: 32px">
        <MiniArea />
    </div>
</div>