@namespace AntDesign.Pro.Pages.Account

<AntList 
    TItem="ListItemDataType"
    Size="large"
    Class="articleList"
    ItemLayout="AntDirectionVHType.Vertical"
    DataSource="List">
    <Item Context="item">
        <AntListItemMeta Avatar="@item.Avatar" Description="">
            <Title>
                <a href="https://ng.ant.design">@item.Title</a>
            </Title>
        </AntListItemMeta>
        <ArticleListContent Data="@item" />
    </Item>
</AntList>