@namespace AntDesignPro.Layout
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    <div class="@_prefixCls-grid-content-children">
        @ChildContent
    </div>
</div>