<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AntDesign.App.Pro.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="_content/AntDesign.ProLayout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
    <link href="./css/site.css" rel="stylesheet" />
    <link href="AntDesign.App.Pro.styles.css" rel="stylesheet" />

</head>

<body>
    <Routes />
    <AntContainer />

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
