@namespace AntDesignPro.Pages.Form
@page "/form/basic-form"

<PageContainer>
    <Card>
        <Form Model="@_model" Style="margin-top: 8px;">
            <FormItem>

            </FormItem>
        </Form>
    </Card>
</PageContainer>

@code
{
    public class FormModel
    {
        
    }

    private FormModel _model = new FormModel();
}
