@namespace AntDesign.Pro
@inherits LayoutComponentBase

<Layout>
    <Sider Collapsible Collapsed=@collapsed NoTrigger Width="208">
        <div class="ant-pro-sider-logo" id="logo">
            <a href="/">
                <img src="assets/logo.svg" alt="logo">
                @if(!collapsed){
                    <h1>Ant Design Pro</h1>
                }
            </a>
        </div>
        <Menu DefaultSelectedKeys=@(new[] {"dashboard.analysis"})
              DefaultOpenKeys=@(new[] {"dashboard"})
              Mode=MenuMode.Inline
              Theme=MenuTheme.Dark
              InlineCollapsed=collapsed>
            <SubMenu Key="dashboard" Title=dashboard>
                <MenuItem Key="dashboard.analysis"><a href="/dashboard/analysis">分析页</a></MenuItem>
                <MenuItem Key="dashboard.monitor"><a href="/dashboard/monitor">监控页</a></MenuItem>
                <MenuItem Key="dashboard.workplace"><a href="/dashboard/workplace">工作台</a></MenuItem>
            </SubMenu>
            
            <SubMenu Key="form" Title=form>
                <MenuItem Key="form.basic-form"><a href="/form/basic-form">基础表单</a></MenuItem>
                <MenuItem Key="form.step-form"><a href="/form/step-form">分布表单</a></MenuItem>
                <MenuItem Key="form.advanced-form"><a href="/form/advanced-form">高级表单</a></MenuItem>
            </SubMenu>
            
            <SubMenu Key="list" Title=list>
                <MenuItem Key="list.table-list"><a href="/list/table-list">查询表格</a></MenuItem>
                <MenuItem Key="list.basic-list"><a href="/list/basic-list">标准列表</a></MenuItem>
                <MenuItem Key="list.card-list"><a href="/list/card-list">标准列表</a></MenuItem>
            </SubMenu>
            
            <SubMenu Key="profile" Title=profile>
                <MenuItem Key="profile.basic"><a href="/profile/basic">基础详情页</a></MenuItem>
                <MenuItem Key="profile.advanced"><a href="/profile/advanced">高级详情页</a></MenuItem>
            </SubMenu>

            <SubMenu Key="result" Title=result>
                <MenuItem Key="result.success"><a href="/result/success">成功页</a></MenuItem>
                <MenuItem Key="result.fail"><a href="/result/fail">失败页</a></MenuItem>
            </SubMenu>

            <SubMenu Key="exception" Title=exception>
                <MenuItem Key="exception.403"><a href="/exception/403">403</a></MenuItem>
                <MenuItem Key="exception.404"><a href="/exception/404">404</a></MenuItem>
                <MenuItem Key="exception.500"><a href="/exception/500">500</a></MenuItem>
            </SubMenu>
            
            <SubMenu Key="account" Title=account>
                <MenuItem Key="account.center"><a href="/account/center">个人中心</a></MenuItem>
                <MenuItem Key="account.settings"><a href="/account/settings">个人设置</a></MenuItem>
            </SubMenu>

            <SubMenu Key="user" Title=user>
                <MenuItem Key="user.login"><a href="/user/login">登录</a></MenuItem>
                <MenuItem Key="user.register"><a href="/user/register">注册</a></MenuItem>
                <MenuItem Key="user.lock"><a href="/user/lock">锁屏</a></MenuItem>
            </SubMenu>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="site-layout-background" Style="padding: 0;">
            @if (collapsed)
            {
                <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
            }
            else
            {
                <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
            }
        </Header>
        <Content Class="ant-pro-basicLayout-content ant-pro-basicLayout-has-header">
            <div class="ant-pro-basicLayout-children-content-wrap">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>

<style>
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

        .trigger:hover {
            color: #1890ff;
        }

    .logo-demo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>

@code
{
    RenderFragment dashboard =
    @<span>
        <Icon Type="dashboard" Theme="outline"></Icon>
        <span>Dashboard</span>
    </span>;

    RenderFragment form =
    @<span>
        <Icon Type="form" Theme="outline"></Icon>
        <span>表单页</span>
    </span>;

    RenderFragment list =
    @<span>
        <Icon Type="table" Theme="outline"></Icon>
        <span>列表页</span>
    </span>;

    RenderFragment profile = 
    @<span>
        <Icon Type="profile" Theme="outline"></Icon>
        <span>详情页</span>
    </span>;

    RenderFragment result = 
    @<span>
        <Icon Type="check-circle" Theme="outline"></Icon>
        <span>结果页</span>
    </span>;

    RenderFragment exception =
    @<span>
        <Icon Type="exception" Theme="outline"></Icon>
        <span>异常页</span>
    </span>;

    RenderFragment account = 
    @<span>
        <Icon Type="user" Theme="outline"></Icon>
        <span>个人页</span>
    </span>;

    RenderFragment user =
    @<span>
        <Icon Type="login" Theme="outline"></Icon>
        <span>登录页</span>
    </span>;

    bool collapsed;

    void toggle()
    {
        collapsed = !collapsed;
    }
}