@page "/"

<PageTitle>Home</PageTitle>

<div class="p-5 mb-4 bg-light rounded-3 jumbotron">
    <div class="container-fluid py-5">
        <p align="center">
            <a href="https://gitee.com/link?target=https%3A%2F%2Fyangshunjie.com%2Fant-design-blazor%2F">
                <img src="./logo.svg">
            </a>
        </p>
        <h1 align="center" class="display-5 fw-bold">
            <a id="user-content-ant-design-blazor" class="anchor" href="#ant-design-blazor"></a>
            Ant Design Blazor
        </h1>
        <div align="center" class="fs-4">
            <p>开放、美观、灵活、高效</p>
        </div>
        <div class="fs-4">
            <p>Ant Design Blazor 由来自世界各地的开发者共同参与，一直以来都是最受欢迎的 Blazor 开源组件库之一。</p>
            <p>自 2020 年开始，成立 Blazor 技术开源社区，带领全球 .NET 开发者走向 Web 全栈开发之路！</p>
            <p>我们推崇国际化开源协作，欢迎所有新的想法，和所有力所能及的贡献！</p>
        </div>

        <a class="btn btn-lg btn-primary btn-purple" role="button" href="https://github.com/ElderJames/fansof.net" target="_blank">
            <i class="bi bi-github"></i>
            点击参与
        </a>
    </div>
</div>

<div class="file_content markdown-body">

    <h2>
        <a id="user-content--您的下一个项目这样开始" class="anchor" href="#-%E6%82%A8%E7%9A%84%E4%B8%8B%E4%B8%80%E4%B8%AA%E9%A1%B9%E7%9B%AE%E8%BF%99%E6%A0%B7%E5%BC%80%E5%A7%8B"></a>💻 您的下一个项目，这样开始
    </h2>
    <div class="white">
        <div class="highlight markdown-code-block">
<pre><span id="LC1" class="line"><span class="nv">$ </span>dotnet new <span class="nt">--install</span> AntDesign.Templates</span>
<span id="LC2" class="line"></span>
<span id="LC3" class="line"><span class="nv">$ </span>dotnet new antdesign <span class="nt">-o</span> MyAntDesignApp</span></pre>
            <div class="markdown-code-block-copy-btn"></div>
        </div>
    </div>
    <h2>
        <a id="user-content--演示" class="anchor" href="#-%E6%BC%94%E7%A4%BA"></a>👀 演示
    </h2>
    <p><a href="https://gitee.com/link?target=https%3A%2F%2Fantblazor.com">https://antblazor.com</a></p>
    <h2>
        <a id="user-content--我们的贡献者" class="anchor" href="#-%E6%88%91%E4%BB%AC%E7%9A%84%E8%B4%A1%E7%8C%AE%E8%80%85"></a>❤ 我们的贡献者
    </h2>
    <p>感谢所有为本项目做出过贡献的朋友。</p>
    <p><a href="https://gitee.com/link?target=https%3A%2F%2Fgithub.com%2Fant-design-blazor%2Fant-design-blazor%2Fgraphs%2Fcontributors"><img src="https://contrib.rocks/image?repo=ant-design-blazor/ant-design-blazor&amp;max=1000&amp;columns=15&amp;anon=1"></a></p>
    <h2>
        <a id="user-content--支持本社区" class="anchor" href="#-%E6%94%AF%E6%8C%81%E6%9C%AC%E7%A4%BE%E5%8C%BA"></a>💕 支持本社区
    </h2>
    <p>为了能让社区得到够更好的且可持续的发展，我们期望获得更多的支持者，我们将把所得款项用于社区活动和推广。你可以通过如下任何一种方式支持我们:</p>
    <img src="https://images.gitee.com/uploads/images/2020/1212/223906_040d5b1e_1723823.jpeg" width="100">
    <img src="https://images.gitee.com/uploads/images/2020/1212/223906_57e2f167_1723823.jpeg" width="100">
    <p>我们会把详细的捐赠记录登记在 <a href="https://gitee.com/link?target=https%3A%2F%2Fgithub.com%2Fant-design-blazor%2Fant-design-blazor%2Fissues%2F62">捐赠者名单</a>。</p>
    <h2>
        <a id="user-content--社区互助" class="anchor" href="#-%E7%A4%BE%E5%8C%BA%E4%BA%92%E5%8A%A9"></a>❓ 社区互助
    </h2>
    <p>如果您在使用的过程中碰到问题，可以通过以下途径寻求帮助，同时我们也鼓励资深用户通过下面的途径给新人提供帮助。</p>
    <ul>
        <li>
            <a href="https://gitee.com/link?target=https%3A%2F%2Fjoin.slack.com%2Ft%2FAntBlazor%2Fshared_invite%2Fzt-etfaf1ww-AEHRU41B5YYKij7SlHqajA"><img src="https://img.shields.io/badge/Slack-AntBlazor-blue.svg?style=flat-square&amp;logo=slack" alt="Slack 群"></a> (英文)
        </li>
        <li>
            <a href="https://gitee.com/link?target=https%3A%2F%2Fh5.dingtalk.com%2Fcircle%2FhealthCheckin.html%3FcorpId%3Ddingccf128388c3ea40eda055e4784d35b88%262f46%3Dc9b80ba5%26origin%3D11"><img src="https://img.shields.io/badge/%E9%92%89%E9%92%89-AntBlazor-blue.svg?style=flat-square&amp;logo=data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIiB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiBmaWxsPSIjZmZmZmZmIj4NCiAgPHBhdGggZD0iTTU3My43IDI1Mi41QzQyMi41IDE5Ny40IDIwMS4zIDk2LjcgMjAxLjMgOTYuN2MtMTUuNy00LjEtMTcuOSAxMS4xLTE3LjkgMTEuMS01IDYxLjEgMzMuNiAxNjAuNSA1My42IDE4Mi44IDE5LjkgMjIuMyAzMTkuMSAxMTMuNyAzMTkuMSAxMTMuN1MzMjYgMzU3LjkgMjcwLjUgMzQxLjljLTU1LjYtMTYtMzcuOSAxNy44LTM3LjkgMTcuOCAxMS40IDYxLjcgNjQuOSAxMzEuOCAxMDcuMiAxMzguNCA0Mi4yIDYuNiAyMjAuMSA0IDIyMC4xIDRzLTM1LjUgNC4xLTkzLjIgMTEuOWMtNDIuNyA1LjgtOTcgMTIuNS0xMTEuMSAxNy44LTMzLjEgMTIuNSAyNCA2Mi42IDI0IDYyLjYgODQuNyA3Ni44IDEyOS43IDUwLjUgMTI5LjcgNTAuNSAzMy4zLTEwLjcgNjEuNC0xOC41IDg1LjItMjQuMkw1NjUgNzQzLjFoODQuNkw2MDMgOTI4bDIwNS4zLTI3MS45SDcwMC44bDIyLjMtMzguN2MuMy41LjQuOC40LjhTNzk5LjggNDk2LjEgODI5IDQzMy44bC42LTFoLS4xYzUtMTAuOCA4LjYtMTkuNyAxMC0yNS44IDE3LTcxLjMtMTE0LjUtOTkuNC0yNjUuOC0xNTQuNXoiLz4NCjwvc3ZnPg0K" alt="钉钉群"></a> (中文)
        </li>
    </ul>
    <details>
        <summary>点击扫描钉钉二维码</summary>
        <img src="https://images.gitee.com/uploads/images/2020/1208/232310_d8bd3c27_1723823.jpeg" width="300">
    </details>
</div>