@namespace AntDesignPro
@page "/exception/403"

<div>
    <div type="403" style="min-height: 500px; height: 80%;" class="exception">
        <div class="exception__img-block">
            <div class="exception__img" style="background-image: url(&quot;https://gw.alipayobjects.com/zos/rmsportal/wZcnGqRDyhPOEYFcZDnb.svg&quot;);"></div>
        </div>
        <div class="exception__cont">
            <h1 class="exception__cont-title">403</h1>
            <div class="exception__cont-desc">抱歉，你无权访问该页面</div>
            <div class="exception__cont-actions">
                <div></div>
                <button class="ant-btn ant-btn-primary">
                    <span>返回首页</span>
                </button>
            </div>
        </div>
    </div>
</div>