<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Ant Design Pro Blazor</title>
    <base href="/" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="_content/{pro-layout}/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
    <link href="./css/site.css" rel="stylesheet" />
</head>

<body>
    <app>Loading...</app>
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="_content/AntDesign.Charts/g2plot.js"></script>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>
</body>
</html>