@namespace AntDesign.Pro.Template.Pages.Exception
@page "/exception/403"

<Result Status="@ResultStatus.Http403"
        Title="403"
        SubTitle="Sorry, you are not authorized to access this page.">
    <Extra>
        <Button Type="@ButtonType.Primary">Back Home</Button>
    </Extra>
</Result>