@namespace AntDesign.Pro.Pages.Account.Settings

<AntList 
    TItem="Item"
    ItemLayout="AntDirectionVHType.Horizontal"
    DataSource="Data"
    Actions="Actions">
    <Item Context="item">
        <AntListItemMeta Avatar="@item.Avater" Description="@item.Description">
            <Title>@item.Title</Title>
        </AntListItemMeta>
    </Item>
</AntList>

@code
{
    public class Item
    {
        public RenderFragment Avater { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
    }

    private RenderFragment _modify = @<a key="bind">Bind</a>;

    public List<RenderFragment> Actions => new List<RenderFragment> {_modify};

    public IList<Item> Data { get; set; } = new List<Item>
    {
        new Item
        {
            Avater = @<Icon Type="taobao" Theme="outline" Class="taobao" />,
            Title = "Binding Taobao",
            Description = "Currently unbound Taobao account",
        },
        new Item
        {
            Avater = @<Icon Type="alipay" Theme="outline" Class="alipay" />,
            Title = "Binding Alipay",
            Description = "Currently unbound Alipay account",
        },
        new Item
        {
            Avater = @<Icon Type="dingding" Theme="outline" Class="dingding" />,
            Title = "Binding DingTalk",
            Description = "Currently unbound DingTalk account",
        },
    };
}