<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LayoutDemo.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="_content/AntDesign.ProLayout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
    <link href="./css/site.css" rel="stylesheet" />
    <link href="AntDesign.Pro.Template.styles.css" rel="stylesheet" />

    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />

    <script defer src="https://unpkg.com/@@antv/g2plot@2.4.17/dist/g2plot.min.js"></script>
    <script defer src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script defer src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>