@namespace AntDesignPro.Pages.Dashboard.Analysis
@page "/dashboard/analysis"
@page "/"

<Row Type="flex" Gutter="24">
    <Col Span="6">
    <ChartCard Title="Total Sales"
               Total="$ 126,560"
               Footer="@footer1"
               ContentHeight="46">
        <Trend Flag="up">
            WoW Change
            <span class="trendText">12%</span>
        </Trend>
        <Trend Flag="down">
            DoD Change
            <span class="trendText">11%</span>
        </Trend>
    </ChartCard>
    </Col>
    <Col Span="6">
    <ChartCard Title="Visits"
               Total="8846"
               Footer="@footer2"
               ContentHeight="46">
        <div id="container-mini-area"></div>
    </ChartCard>
    </Col>
    <Col Span="6">
    <ChartCard Title="Payments"
               Total="6560"
               Footer="@footer3"
               ContentHeight="46">
        <div id="container-mini-bar"></div>
    </ChartCard>
    </Col>
    <Col Span="6">
    <ChartCard Title="Operational Effect"
               Total="78%"
               Footer="@footer4"
               ContentHeight="46">
        <MiniProgress Percent="78" StrokeWidth="8" Target="80" Color="#13C2C2"></MiniProgress>
    </ChartCard>
    </Col>
</Row>

<Row Gutter="24">
    <Col Span="24">
    <SalesCard>
    </SalesCard>
    </Col>
</Row>

@inject IJSRuntime jsRuntime
@code
{
    RenderFragment footer1 =@<Field Label="Daily Sale" Value="$12,423" />;
    RenderFragment footer2 = @<Field Label="Daily Visits" Value="1243" />;
    RenderFragment footer3 = @<Field Label="Conversion Rate" Value="60%" />;
    RenderFragment footer4 = @<Field Label="Conversion Rate" Value="60%" />;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("antPro.analysisCharts");
    }
}
